.App {
  text-align: center;
}

  height: 80px;
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;

  color: yellow;
}

.App-intro {
  font-size: large;
}

.App ul {
  list-style-type: none;
}

.App .MessageList {
  text-align: left;
  font-family: 'Georgia', serif;  
} 

.MessageList {
  border: 1px solid #ddd;
}

.MessageList .key {
  padding-right: 10px;
  color: #666;
  height: 100%;
  vertical-align: top;
}

.MessageList .value {
  display: inline-block;
}

.MessageList .value .p {
  margin: 0; padding: 0;
}