.App-logo .logo {
  height: 120px;
  padding: 0px;
  margin-top: 10px;
}

.App {
  text-align: center;
  padding: 10px;
  font-family: 'Helvetica';
}

.App-intro {
  font-size: large;
}

.App ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 10px;
}

button, input {
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.action-button {
  background-color: #222;
  color: yellow;
  border: 1px solid yellow;
}

.login-button {
  background-color: #D14836;
  color: white;
  border: 1px solid white;
}

.logout-button {
  background-color: white;
  color: #D14836;
  border: 1px solid #D14836;
}

.CommentList {
  text-align: left;
  font-family: 'Georgia', serif;
  border: 1px solid #ddd;
  margin: 5px;
}

.CommentList .ProviderTitle {
  text-align: center;
  width: 100%;
  background: #000;
}

.provider {
  color: #7DF;
}

.CommentList .empty {
  text-align: center;
  margin: 10px;
}

.CommentList .key {
  padding-right: 10px;
  color: #666;
  height: 100%;
  vertical-align: top;
}

.CommentList .value {
  display: inline-block;
}

.CommentList .value .p {
  margin: 0; padding: 0;
}
