.App-logo .logo {
  padding: 0px;
  margin-top: 10px;
  max-width: 300px;
  overflow: hidden;
}

.App {
  text-align: center;
  padding: 10px;
  font-family: 'Helvetica';
}

.App-intro {
  font-size: large;
}

.App ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0px 10px;
}

button, input {
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.action-button {
  background-color: #222;
  color: yellow;
  border: 1px solid yellow;
}

.login-button, .logout-button {
  display: inline-block;
  background: white;
  color: black;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

.login-button:hover, .logout-button:hover {
  cursor: pointer;
}

.logout-button {
  color: grey;
}

.CommentList {
  text-align: left;
  font-family: 'Georgia', serif;
  border: 1px solid #ddd;
  margin: 5px;
}

* {
    box-sizing: border-box;
}

.App .CommentListColumn-1 {
  float: left;
  width: 100%;
}

.App .CommentListColumn-2 {
  float: left;
  width: 50%;
}

/* i want to see two columns on my small iphone 5s */
@media (max-width: 567px) {
  .App .CommentListColumn-2 {
    float: left;
    width: 100%;
  }
}

.CommentList .ProviderTitle {
  text-align: center;
  width: 100%;
  background: linear-gradient(to right, #ADF, #000, #ADF);
  font-family: 'Helvetica';
  padding: 2px 0px;
}

.provider {
  color: #7DF;
}

.CommentList .empty {
  text-align: center;
  margin: 10px;
}

.CommentList .key {
  padding-right: 10px;
  color: #666;
  height: 100%;
  vertical-align: top;
}

.CommentList .value {
  display: inline-block;
}

.CommentList .value .p {
  margin: 0; padding: 0;
}

/* inspired by https://codepen.io/ibrahimjabbari/pen/ozinB */
hr.comment-hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #FFF, #ADF, #FFF);
}
